<%= yield %>
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome!</h1>
      <%= link_to "Create new note", new_note_path, :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <!--<tbody>-->
      <% @notes.each do |note| %>
        <!--<tr>-->
        <div class="col-md-4">
          <!--<div class="card-body">-->
            <h5><%= note.title %></h5>
            <p><%= note.note %></p>
            <div>
              <%= link_to "Show", note %>
              <%= link_to "Edit", edit_note_path(note) %>
              <%= button_to "Delete", note, method: :delete, :class => "btn btn-danger btn-sm" %>
            <div>
          <!--</div>-->
        </div>
        <!--</tr>-->
      <% end %>
    </div>
    <!--</tbody>-->
  </div>
</main>
