
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    <h1>Notas</h1>
    <%= link_to "Nova nota", new_note_path %>
    <br>
    <br>
    <div class="card">
      <tbody>
        <% @notes.each do |note| %>
          <tr>
          <td scope="row"><%= note.title %></td>
          <br>
          <td scope="row"><%= note.note %></td>
          <br>
          <td scope="row"><%= note.priority %></td>
          <br>
          <td><%= link_to "Show", note %></td>
          <td><%= link_to "Edit", edit_note_path(note) %></td>
          <td><%= link_to "Destroy", note, method: :delete, data: { confirm: "Are you sure?" } %></td>
          <br>
          <br>
          </tr>
        <% end %>
      </tbody>
    </div>
